form {
    padding: 1rem;
    max-width: 40rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: linear-gradient(180deg,#074e00);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.35);
}

.input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

label {
    display: block;
    font-family: "Robot Condonsed", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

input {
    font: inherit;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #025981;
    width: 100%;
}

button {
    font: inherit;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #0284c7;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}